# Gradle
.gradle/
build/
**/build/
gradle/gradle-daemon-jvm.properties

# Local SDK and machine-specific files
local.properties
*.iml

# Android Studio / IntelliJ local state / claude / code
.idea/
.kotlin/
.claude
.vscode

# Android build intermediates
captures/
.externalNativeBuild/
.cxx/

# Signing and secrets
*.jks
*.keystore
keystore.properties

# OS files
.DS_Store
Thumbs.db

# reference files
references

# local agent tools
tools